.App {
  padding: 20px 6rem;
}

.title {
  color: #333;
  font-size: 40px;
  font-weight: bold;
}
p {
  font-size: 16px;
  font-weight: normal;
}
.btn {
  padding: 12px 24px;
  background-color: brown;
  color: white;
  border: none;
  font-size: 16px;
}
